div {
    text-align: center;
  }
  button {
   width: 50%;
  height: 46px;
   padding: 0 26px;
   background-color: green;
   color: #FFFFFF;
   font-size: 16px;
   border: none;
   border-radius: 2px;
   transition-duration: 300ms;
   justify-content: center;
  }
  input {
   width: 50%;
  height: 46px;
   padding: 0 26px;
   color: #FFFFFF;
   font-size: 16px;
   border: none;
   border-radius: 2px;
   transition-duration: 300ms;
   display: flex;
   justify-content: center;
   
  }