*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: contents;
    justify-content: center;
    align-items: ;
}

.tabela{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
}
.tabela table{
    background-color: rgb(252, 255, 255);
    padding: 16px;
    border-radius: 5px;
    border-collapse: collapse;
}
.table table thead{
    height: 46px;
}+