body{
    background-color: #dedede;
}
.secao-detalhes {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
    
}

.secao-detalhes  article {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    box-shadow: 0px 0px 15px 1px;
}
.secao-detalhes article:hover {
    color: rgb(94, 36, 7);
    transition: 2s;
    transform: scale(1.2)  rotate(-60deg);
    box-shadow: 0px 0px 15px 1px;
    padding: 16px;
}



.secao-detalhes i {
    font-size: 6rem;
   
}
#sabores{
    width: 300px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 0 5px 10px #3ce3e0fb;
}
#sabores label {
    display: flex;
}
#sabores input[type="checkbox"]{
    width: 20px;
    height: 20px;
    position: relative;
}
#sabores input[type="checkbox"]::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border:2px solid rgb(7, 255, 94);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: all 200ms;
}
#sabores input[type="checkbox"]:checked::after{
    background-color: rgb(255, 0, 212);

}
#sabores input[type="checkbox"]::before{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    z-index: 1;

}


